  .lfenlei{
        width: 191px;
        height:100%;
        float: left;
    }
     .lfenlei ul li{
        margin-top: 16px;
        margin-left: 6px;
        font-size: 14px;
     }
       .lfenlei ul li h3{
        color: rgb(51, 51, 51);
       }
      .lfenlei ul li .ljt{
        width: 0;
        height: 0;
    border: 8px solid transparent;
    border-left-color: black;
    float: left;
    
      }
    .rfenlei{
        width: 759px;
        height:100%;
        float: left;
    }
     .rfenlei ul li{
        float: left;
        font-size: 14px;
     }

     .rfenlei .lb{
        clear: both;
     }
     .rfenlei .lb li{
        width: 240px;
        height: 100%;
        margin-left: 4px;
        text-align: center;
        margin-top: 8px;

     }
     .rfenlei .lb li span{
       padding-top: 10px;
   }
      .kuang111{
        width: 78px;
        height: 30px;
        float: left;
        margin-left: 0px;
        border: .2px solid gray;
        text-align: center;
        line-height: 30px;
        font-size: 14px;
        margin-top: 8px;
     }